@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Nunito:ital,wght@1,300&display=swap');
* {
    border: 10px black;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}
