@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Nunito:ital,wght@1,300&display=swap');
* {
    font-family: 'Mulish', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}


/*HEADER*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


/*buscador*/

#search-box {
    padding-top: 12px;
    display: block;
}

#search-form {
    height: 39px;
    padding-top: -2px;
    border: 2px solid #000000;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: white;
}

#search-text {
    font-size: 14px;
    color: #ddd;
    border-width: 0;
    padding-left: 5px;
    background: transparent;
}

#search-box input[type="text"] {
    width: 83%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
}

#search-button {
    position: absolute;
    height: 42px;
    width: 80px;
    font-size: 14px;
    padding-left: 0px;
    margin-left: -40px;
    padding-bottom: 1px;
    color: white;
    line-height: 4px;
    background-color: rgb(87, 87, 87);
    border-radius: 15px;
    cursor: pointer;
}


/*MENU*/

.menu {
    padding-top: 12px;
}

.listnav {
    list-style: none;
    padding: 0px 0px 0px 0px;
}

.link {
    padding: 0px 0px 0px 0px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    position: relative;
}

.link::after {
    content: "";
    width: 90%;
    height: 3px;
    background-color: rgb(87, 87, 87);
    border-radius: 4px;
    position: absolute;
    left: 2px;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
}

.link:hover::after {
    transform: scaleX(1);
}


/*END NAV*/


/*FLYER*/

.flyers {
    grid-area: flyers;
}

.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    45% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    70% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    100% {
        margin-left: -300%;
    }
}


/*END DE FLYERS*/


/*PRODUCTS*/

.grid_of_products {
    display: grid;
    width: 680px;
    grid-template-columns: 220px 220px 220px;
    gap: 10px;
}

.product_container {
    position: relative;
    width: 220px;
    margin-bottom: 60px;
}

.product_container:hover {
    box-shadow: 0px 0px 0px 1px darkgray inset;
}

.add_to_cart_button {
    margin: 15px;
    height: 45px;
    width: 90px;
    visibility: hidden;
    position: relative;
    text-align: center;
    background-color: darkgrey;
    border-radius: 3px;
    transform: translateX(100%);
}

.add_to_cart_button,
a {
    text-decoration: none;
    color: #fff;
}

.add_to_cart_button:hover {
    box-shadow: 0px 0px 0px 2px gray inset;
}

.product_container:hover .add_to_cart_button {
    transition: all 0.5s ease 0s;
    transform: translateX(0%);
    visibility: visible;
}

.product_image {
    margin: 1px;
}


/*end of PRODUCTS*/

h1 {
    text-align: center;
    margin: 80px;
    font-size: 20px;
}


/*footer*/

.pie-pagina {
    grid-area: footer;
    display: grid;
    width: 100%;
    background-color: gray;
}

.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid: gap 50px;
    padding: 45px 0px;
}

.pie-pagina.grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10xp;
}


/*footer*/